.certificates h2 {
  color: #4777a7;
  margin: 40px 0 20px;
}

.row {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.row img {
  width: clamp(150px, 100%, 600px);
  height: auto;
}

#certificates .buttons {
  justify-content: center;
}

@media (max-width: 600px) {
  .row {
    flex-wrap: wrap;
  }
}
