* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #fdfdfe;
  color: #676f7e;
  padding-top: 65px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: #fdfdfec5;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #676f7e;
}

header h1 {
  color: #0371e7e8;
  font-size: 1.2rem;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  color: #676f7e;
  transition: color 0.3s;
}

nav a:hover {
  color: #0980ffe8;
}

h1,
h2,
h3,
h4 {
  color: rgba(42, 43, 43, 0.918);
}

h2 {
  color: rgba(42, 43, 43, 0.918);
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #676f7e;
}

section {
  padding: 1.6rem;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

section {
  scroll-margin-top: 2rem;
}

.section-width {
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.section-heading {
  text-align: center;
  margin-bottom: 50px;
}

.section-heading h2 {
  font-size: 2.5rem;
}

.section-heading .description {
  font-size: 1.2rem;
  font-weight: 500;
}

.block {
  background: #edf5ff56;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: box-shadow 0.3s ease;
}

.block:hover {
  box-shadow: 0 0 16px rgb(151, 197, 250);
}

.block p {
  font-size: 1rem;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
}

.card {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 16px rgb(151, 197, 250);
}

.card h3 {
  color: #0980ffe8;
  font-size: 1.6rem;
}

.card p {
  font-size: 1rem;
}

.tagline {
  color: #3e9bffe8;
  font-size: 1rem;
  font-weight: bold;
  margin: 40px auto 10px;
}

.icon {
  margin-bottom: 1rem;
}

.icon img {
  background: linear-gradient(to right bottom, #2680e7, rgb(179, 114, 214));
  padding: 12px;
  border-radius: 10px;
}

.icon h3,
.icon h4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.icon h3 {
  font-size: 1.5rem;
}

.icon h4 {
  font-size: 1rem;
}

.card-box {
  background: #edf5ff56;
  border-radius: 12px;
  text-align: center;
  transition: box-shadow 0.5s ease;
}

.card-box p {
  font-size: 0.9rem;
}

.card-box .icon img {
  border-radius: 14px;
}

.card-box:hover {
  box-shadow: 0 0 40px rgb(151, 197, 250);
}

.card-box:hover .icon img {
  transform: scale(1.1);
}

.blue-card,
.purple-card,
.green-card,
.orange-card,
.red-card,
.dark-green-card,
.black-card {
  padding: 30px 40px;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;
}

.blue-card:hover {
  background-color: #d1e7ff75;
}

.purple-card:hover {
  background-color: #e7d3fa65;
}

.green-card:hover {
  background-color: #e7f8f0c4;
}

.orange-card:hover {
  background-color: #fdefe694;
}

.red-card:hover {
  background-color: #ffe3e394;
}

.dark-green-card:hover {
  background-color: #d6f1e473;
}

.black-card:hover {
  background-color: #dcdddf81;
}

.blue-card .icon img {
  background: linear-gradient(135deg, #6885face, #013cffc0);
}

.purple-card .icon img {
  background: linear-gradient(135deg, #4a6cf7, #9b34ef);
}

.green-card .icon img {
  background: linear-gradient(135deg, #28c76f, #009688);
}

.orange-card .icon img {
  background: linear-gradient(135deg, #f7be7c, #ee6c02);
}

.red-card .icon img {
  background: linear-gradient(135deg, #f87171b7, #f01313c9);
}

.dark-green-card .icon img {
  background: linear-gradient(135deg, #5dbd75b9, #076933d8);
}

.blue-card .icon img {
  background: linear-gradient(135deg, #6885face, #013cffc0);
}

.black-card .icon img {
  background: linear-gradient(135deg, #555861ce, #000000c0);
}

.blue-card .icon img,
.purple-card .icon img,
.green-card .icon img,
.orange-card .icon img,
.red-card .icon img,
.dark-green-card .icon img,
.black-card .icon img {
  transition: transform 0.5s ease;
}

.buttons {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.buttons a {
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}

.buttons .primary {
  background: #0980ffe8;
  color: white;
}

.buttons .primary:hover,
#portfolio .card-box:hover {
  transform: scale(1.05);
}

.buttons .secondary {
  color: #676f7e;
  background-color: #fafbfb;
}

.buttons .secondary:hover {
  color: #0980ffe8;
  background-color: #e3eef9;
}

.hero .section-width {
  display: flex;
  flex-wrap: wrap;
}

.hero {
  background: linear-gradient(
    135deg,
    hsl(210, 62%, 95%) 0%,
    hsl(220 8% 98%) 50%,
    hsl(211 85% 96%) 100%
  );
}

.hero-text {
  max-width: 50%;
}

.hero-text .tag {
  font-size: 1rem;
  font-weight: bold;
  color: #0980ffe8;
  background: #f5f9fe;
  padding: 6px 12px;
  border-radius: 20px;
  display: inline-block;
  margin: 16px 0 30px;
}

.hero-text h2 {
  font-size: 4rem;
  line-height: 1;
}

.hero-text h2 span {
  color: #0980ffe8;
}

.subtitle {
  font-size: 1.4rem;
  margin: 20px 0 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 8px;
}

.hero .card {
  background-color: #f9fbffee;
  padding: 10px;
  min-width: 150px;
}

.hero .card {
  text-align: center;
}

.hero-image {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 0.3rem solid #2278dbb0;
  box-shadow: 0 0 40px rgba(0, 123, 255, 0.5);
}

.hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.angle-bracket img,
.star-icon,
.idea-icon img {
  position: absolute;
  width: auto;
  height: auto;
  border-radius: 16px;
  padding: 15px;
  animation: float-icons 5s ease-in-out infinite;
}

@keyframes float-icons {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.angle-bracket img {
  background: #0980ffe8;
  color: white;
  top: -20px;
  right: -20px;
}

.star-icon {
  top: 160px;
  right: -50px;
}

.idea-icon img {
  background-color: #b3d3f8ce;
  bottom: -20px;
  left: -20px;
}

#about .block p {
  text-align: justify;
}

.column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.column-left {
  flex: 2;
}

.column-right {
  flex: 1;
}

.edu-box {
  border: 1px solid #cce5ff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.edu-box p {
  font-weight: bold;
  font-size: 0.92rem;
  line-height: 2;
}

.edu-box a {
  color: #0980ffe8;
  text-decoration: none;
}

#skills .cards,
#portfolio .cards {
  flex-wrap: wrap;
}

#skills .card-box,
#portfolio .card-box {
  transition: all 0.5s;
  max-width: 380px;
}

#skills .progress-section .card-box {
  max-width: none;
  width: clamp(300px, 49%, 500px);
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
  justify-content: center;
}

.skill-tags span {
  padding: 4px 15px;
  width: fit-content;
  border: 1px solid #9ac4eb;
  border-radius: 16px;
  font-size: 0.9rem;
  font-weight: bold;
}

.progress-section {
  margin-top: 80px;
  padding: 40px 15px;
  text-align: center;
  border-radius: 16px;
  transition: box-shadow 0.5s ease;
}

.progress-section:hover {
  box-shadow: 0 0 20px rgba(13, 130, 255, 0.5);
}

.progress-section .card-box {
  margin-top: 10px;
  pointer-events: none;
  width: 100%;
}

.progress-bar {
  margin: 30px;
}

.progress-bar label {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.bar {
  background: #eee;
  border-radius: 10px;
  height: 10px;
  overflow: hidden;
}

.bar div {
  height: 100%;
  background: #0980ffe8;
}

.progress-section .card,
.availability-box .card {
  width: 250px;
  font-weight: 500;
}

#portfolio {
  background: #fff;
}

#portfolio .card-img {
  height: 180px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#portfolio .card-img img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px 12px 0 0;
}

#portfolio .label {
  position: absolute;
  top: 10px;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  color: #fff;
}

#portfolio .label.left {
  left: 10px;
  background-color: #0d6efd;
}

#portfolio .label.right {
  right: 10px;
  background-color: #6c757d;
}

.content {
  padding: 20px;
  text-align: justify;
}

.content h5 {
  margin-top: 15px;
  color: #2680e7;
}

.content span {
  font-size: 0.7rem;
}

.content .buttons a {
  width: 160px;
  padding: 7px 15px;
  font-size: 0.9rem;
}

.availability-box {
  margin-top: 40px;
  padding: 3rem 2rem 1.5rem;
  text-align: center;
  width: 100%;
  background-color: #edf5ff56;
  transition: box-shadow 0.5s ease;
}

.availability-box:hover {
  box-shadow: 0 0 20px rgba(13, 130, 255, 0.5);
}

.availability-box .card {
  pointer-events: none;
}

.availability-box .buttons a {
  margin: auto;
}

#contact .block {
  padding: 2rem;
}

.form-row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  min-width: 200px;
}

.asterisk {
  color: #b92922;
}

.form-group label {
  color: #1f2937;
  font-weight: 500;
  display: block;
  margin: 20px 0 15px;
}

.form-group input,
.form-group textarea {
  background-color: #ffffffa6;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#contact .block textarea {
  resize: vertical;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: 1px solid #0d6dfda1;
  box-shadow: 0 0 20px rgba(13, 130, 255, 0.5);
}

#contact .buttons a {
  font-size: 0.9rem;
  padding: 8px;
  justify-content: center;
  width: 100%;
}

#contact .block .icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

#contact .block .icon a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #363d49;
}

#contact .blue-card,
#contact .green-card,
#contact .red-card,
#contact .black-card {
  padding: 16px 15px 1px;
}

footer {
  background: #363d49;
  padding: 3rem 2rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  color: white;
  margin-bottom: 15px;
}

.footer-block {
  flex: 1 1 30%;
  min-width: 200px;
}

.footer-block h2 {
  margin-bottom: 15px;
  color: white;
}

.footer-block h3 {
  color: white;
  margin-bottom: 15px;
}

footer p {
  font-size: 1rem;
  color: rgba(243, 239, 233, 0.788);
}

.footer-block ul {
  list-style: none;
  padding: 0;
}

.footer-block ul li {
  margin-bottom: 10px;
}

.footer-block ul li a {
  color: rgba(243, 239, 233, 0.788);
  text-decoration: none;
}

.footer-block ul li a:hover {
  color: #0980ffe8;
}

.footer-notes {
  text-align: center;
}

@media (max-width: 768px) {
  .hero .section-width {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero .subtitle {
    justify-content: center;
  }

  .buttons {
    justify-content: center;
  }

  .hero-image {
    margin-top: 60px;
  }

  .cards {
    flex-wrap: wrap;
  }

  .column-container {
    flex-direction: column;
    align-items: center;
  }

  .column-left,
  .column-right {
    flex: 1 1 100%;
  }
}

@media (max-width: 550px) {
  .hero-image {
    width: 270px;
    height: 270px;
  }

  #contact .block .icon a {
    font-size: 0.8rem;
  }

  #contact h3 {
    font-size: 1.2rem;
  }

  footer {
    padding: 2rem 1rem;
  }

  nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 78px;
    left: 0;
    background: #fdfdfec5;
    backdrop-filter: blur(10px);
    z-index: 1000;
    width: 100%;
    text-align: center;
    padding-right: 2rem;
  }

  nav a {
    padding: 10px;
  }

  nav.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  section {
    scroll-margin-top: 3rem;
  }
}
